:root {
  // --df-primary: #{$primary};
  // --df-secondary: #{$light};
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

h1 {
  font-size: 1rem;
}

ul {
  padding-left:0;
}

p {
  margin-bottom: 0 !important;
}


.btn-clean {
  border: none;
  background: none;
  padding: 0 !important;
}

.z-index-1000 {
  z-index: 1000;
}

.z-index-1100 {
  z-index: 1100;
}

.h-2rem {
  height: 2rem;
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 680px) {
  .App-header {
    font-size: 1rem;
  }
}
